@import '@fontsource/nunito-sans/400.css';
@import '@fontsource/nunito-sans/600.css';
@import '@fontsource/nunito-sans/700.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  font-size: 8px;
}

body {
  height: 100%;
  margin: 0;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
